@import play.api.i18n.Messages
@import play.twirl.api.Html
@import play.api.mvc.Request
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.config.ViewConfig

@this(
        layout: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.Layout,
        pageHeading: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.page_heading,
        paragraph: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.paragraph_block
)

@(key: String)(implicit request : Request[_], messages:Messages, viewConfig: ViewConfig)

@title = @{messages(s"$key.title")}

@layout(pageTitle = Some(s"$title")) {
    @pageHeading(title)
    @paragraph(Html(messages(s"$key.help")), Some("govuk-body"))
}
