@import play.api.data.Form
@import play.api.i18n.Messages
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.config.ViewConfig
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.controllers.ReimbursementRoutes.ReimbursementRoutes
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.controllers.actions.RequestWithSessionData
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.models.MrnContactDetails

@this(
        formWithCSRF: uk.gov.hmrc.govukfrontend.views.html.helpers.formWithCSRF,
        layout: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.Layout,
        submitButton: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.button,
        pageHeading: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.page_heading,
        inputText : uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.input_text,
        errorSummary: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.error_summary
)


@(form : Form[MrnContactDetails], router: ReimbursementRoutes, isChange: Boolean)(implicit request: RequestWithSessionData[_], messages: Messages, viewConfig: ViewConfig)

@key = @{"enter-contact-details"}

@postAction = @{if (isChange) router.submitUrlForChangeMrnContactDetails() else router.submitUrlForEnterMrnContactDetails()}

@title = @{if (isChange) messages(s"$key.change.title") else messages(s"$key.add.title")}

@hasErrors = @{form.hasErrors || form.hasGlobalErrors}

@layout(pageTitle = Some(s"$title"),hasErrors = hasErrors) {

    @errorSummary(form.errors)

    @pageHeading(title)

    @pageHeading(messages(s"$key.h2"), "govuk-heading-m govuk-!-margin-top-7", "h2")

    @formWithCSRF(postAction, 'novalidate -> "novalidate") {

        @inputText(
            form = form,
            id = s"$key.contact-name",
            name = s"$key.contact-name",
            label = s"$key.contact-name.label",
            isPageHeading = false,
            classes = Some("govuk-input--width-20")
        )

        @inputText(
            form = form,
            id = s"$key.contact-email",
            name = s"$key.contact-email",
            label = s"$key.contact-email.label",
            isPageHeading = false,
            inputType = "email",
            autocomplete = Some("email"),
            spellcheck = Some(false),
            classes = Some("govuk-input--width-20")
        )

        @inputText(
            form = form,
            id = s"$key.contact-phone-number",
            name = s"$key.contact-phone-number",
            label = s"$key.contact-phone-number.label",
            inputType = "tel",
            autocomplete = Some("tel"),
            isPageHeading = false,
            classes = Some("govuk-input--width-20")
        )
        @submitButton("button.continue", classes = Some("govuk-!-margin-top-7"))
        }





}