@import play.api.data.Form
@import play.api.i18n.Messages
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.config.ViewConfig
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.controllers.ReimbursementRoutes.ReimbursementRoutes
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.controllers.actions.RequestWithSessionData
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.models.BankAccountType
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.models.BankAccountType.BusinessBankAccount
@import uk.gov.hmrc.govukfrontend.views.viewmodels.content.Text
@import uk.gov.hmrc.govukfrontend.views.viewmodels.radios.RadioItem

@this(
        formWithCSRF: uk.gov.hmrc.govukfrontend.views.html.helpers.formWithCSRF,
        layout: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.Layout,
        submitButton: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.button,
        pageHeading: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.page_heading,
        radios : uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.input_radio,
        errorSummary: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.error_summary
)


@(form: Form[BankAccountType], router: ReimbursementRoutes)(implicit request: RequestWithSessionData[_], messages: Messages, viewConfig: ViewConfig)

@import uk.gov.hmrc.cdsreimbursementclaimfrontend.models.BankAccountType.PersonalBankAccount
@key = @{"select-bank-account-type"}
@title = @{messages(s"$key.title")}

@postAction = @{router.submitUrlForSelectBankAccountType()}

@hasErrors = @{form.hasErrors || form.hasGlobalErrors}

@layout(pageTitle = Some(s"$title"), signedInUserDetails = request.signedInUserDetails, hasErrors = hasErrors) {

    @errorSummary(form.errors)

    @pageHeading(title)

    @formWithCSRF(postAction, 'novalidate -> "novalidate") {

        @radios(
            form = form,
            name = key,
            legend = title,
            legendAsHeading = false,
            hintKey = None,
            classes = "govuk-visually-hidden",
            inline = true,
            items = Seq(
                RadioItem(
                    id = Some(s"$key-business-bank-account"),
                    value = Some("0"),
                    content = Text(messages(s"$key.business-bank-account")),
                    checked = form.value.contains(BusinessBankAccount)
                ),
                RadioItem(
                    id = Some(s"$key-personal-bank-account"),
                    value = Some("1"),
                    content = Text(messages(s"$key.personal-bank-account")),
                    checked = form.value.contains(PersonalBankAccount)
                )
            )
        )

        @submitButton("button.continue")

    }

}