@import play.api.i18n.Messages
@import play.twirl.api.Html
@import play.twirl.api.TwirlFeatureImports.defining
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.config.ViewConfig
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.controllers.fileupload.routes
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.controllers.actions.RequestWithSessionData
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.models.answers.ScheduledDocumentAnswer

@this(
        layout: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.Layout,
        pageHeading: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.page_heading,
        paragraph: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.paragraph_block,
        submitButton: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.button,
        formWithCSRF: uk.gov.hmrc.govukfrontend.views.html.helpers.formWithCSRF,
        bulletList: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.bullets
)

@(scheduledDocument: ScheduledDocumentAnswer, isAmend: Boolean)(implicit request: RequestWithSessionData[_], messages: Messages, viewConfig: ViewConfig)

@key = @{"schedule-document.review"}

@title = @{messages(s"$key.title")}

@layout(pageTitle = Some(s"$title"), suppressBackLink = true) {

    @pageHeading(title)

    @paragraph(Html(messages(s"$key.p1")), Some("govuk-body govuk-!-margin-top-8"))

    @bulletList(
        Seq(
            Html(messages(s"$key.bullet1")),
            Html(messages(s"$key.bullet2")),
            Html(messages(s"$key.bullet3"))
        )
    )

    <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"></dt>
            <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
                @defining(scheduledDocument.uploadDocument.fileName) { name =>
                    @name <br />
                    <span style="font-weight: normal">
                    @{
                        scheduledDocument.uploadDocument.documentType.fold("")(documentType =>
                            messages(s"supporting-evidence.choose-document-type.document-type.d${documentType.index}")
                        )
                    }
                    </span>
                }
            </dt>
            <dd class="govuk-summary-list__actions">
                @defining(routes.ScheduleOfMrnDocumentController.deleteScheduledDocument(isAmend).url) { deleteUrl =>
                    <a class="govuk-link" href=@deleteUrl>@{messages(s"cya.remove")}</a>
                }
            </dd>
        </div>
    </dl>

    @formWithCSRF(routes.ScheduleOfMrnDocumentController.reviewSubmit(isAmend), 'novalidate -> "novalidate") {

        @submitButton("button.continue")

    }

}