@import play.api.i18n.Messages
@import play.twirl.api.Html
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.config.ViewConfig
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.controllers.fileupload.routes
@import uk.gov.hmrc.cdsreimbursementclaimfrontend.controllers.actions.RequestWithSessionData

@this(
        layout: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.Layout,
        pageHeading: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.page_heading,
        submitButton: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.button,
        bulletList: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.bullets,
        formWithCSRF: uk.gov.hmrc.govukfrontend.views.html.helpers.formWithCSRF,
        paragraph: uk.gov.hmrc.cdsreimbursementclaimfrontend.views.html.components.paragraph_block
)

@()(implicit request:RequestWithSessionData[_], messages:Messages, appConfig: ViewConfig)

@key = @{"schedule-document.size-fail"}
@title = @{messages(s"$key.title")}

@layout(pageTitle = Some(s"$title"), signedInUserDetails = request.signedInUserDetails, suppressBackLink = true) {

    @pageHeading(title)

    @paragraph(Html(messages(s"$key.p1")), Some("govuk-body"))

    @bulletList(
        Seq(
            Html(messages(s"$key.bullet1")),
            Html(messages(s"$key.bullet2"))
        )
    )

    @paragraph(Html(messages(s"$key.p2")), Some("govuk-body"))

    @formWithCSRF(routes.ScheduleOfMrnDocumentController.uploadScheduledDocumentSubmit(), 'novalidate -> "novalidate") {
        @submitButton(s"$key.button.tryAgain")
    }

}
