$govuk-assets-path: "/claim-for-reimbursement-of-import-duties/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/claim-for-reimbursement-of-import-duties/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";
@import "autocomplete";
@import "language-selection";

@media print {
  /* styles go here */
  .govuk-panel--confirmation {
    color: black;
    background: transparent;
    h1 {
      font-weight: bold;
    }
  }

  .govuk-phase-banner, .lang, .govuk-footer{
    display: none;
  }
}


// Custom CDR styles

.cds-user-banner {
    display:flex;
    border-bottom: 1px solid #b1b4b6;
    justify-content:space-between;

    div p {

    }
}

.cds-no-border {
    border:none;
}
