$govuk-assets-path: "/claim-back-import-duty-vat/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/claim-back-import-duty-vat/assets/lib/hmrc-frontend/hmrc/";

$govuk-include-default-font-face: false;
@import "lib/govuk-frontend/dist/govuk/base";

.govuk-summary-list__row.mrn-value .govuk-summary-list__value {
    white-space: nowrap;
}

.cya-multiple-claim-amount-mrn-key {
    display: inline-block;
    white-space: nowrap;
}

@media (min-width: 641px) {
    .responsive-text-align {
        text-align: right;
    }
}

@media (max-width: 641px) {
    .govuk-table table, .govuk-table tbody {
        display: block;
    }

     .govuk-table thead {
         display: none;
     }

     .govuk-table tr {
        margin: 0 0 1rem 0;
        padding: 0 0 0.5rem 0;
        border-bottom: 1px solid #b1b4b6;
        display: block;
     }

     .govuk-table td, .govuk-table th {
         display: flex;
         flex-direction: column;
         text-align: left !important;
         border: none !important;
         padding: 0 0 0.125rem 0;
       }

     .govuk-table td::before, .govuk-table th::before {
        content: attr(data-label);
        font-weight: bold;
        text-align: left;
        display: block;
     }
}

.govuk-panel--confirmation strong {
    overflow-wrap: break-word;
}

.govuk-grid-column-two-thirds {
    @media only screen and (max-width: 800px) {
        width: 100%;
        float: left;
    }
}

.cds-wrap-content {

    @media only screen and (max-width: 600px) {
        word-wrap: break-word;
        overflow-wrap: break-word;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }

    &--forced {
        word-break: break-word;
    }

}

.govuk-table__cell.cell-no-border {
    border-bottom-style: none;
}

.govuk-table__header.cell-no-border {
    border-bottom-style: none;
}

.govuk-table__cell--regular {
    font-weight: normal !important;
}

.govuk-table__header--nowrap {
    white-space: nowrap;
}

.govuk-summary-list--no-border {
    border-bottom-style: none;
}

.govuk-summary-list__key--nowrap {
    white-space: nowrap;
}

.govuk-summary-list__value--numeric {
    text-align: right;
}

.govuk-summary-list__actions-list {
    display: flex;
    flex-flow: row;
}

